<header class="page-banner">
                <div class="page-banner-icon">
                    <i class="fa fa-video"
                    aria-hidden="true"></i>
                </div>
                <span
                class="page-banner-text"> My Sports Page!</span>
</header>