


<main id="main-content">
  {{#each posts}}
    {{log this}}
  {{/each}}
  <div class="mainPage">
<h id="Main" class="back">Welcome to the main page of this sports website created by the people FOR the people!</h>


    
  <p>Welcome to our website, where sports enthusiasts can find everything they need to 
    stay informed and engaged in the world of sports. Our mission is to provide you with 
    the latest news, insightful articles, thrilling videos, and more - all in one convenient place. 
    Whether you're a die-hard fan or just getting started, we've got you covered with expert analysis,
     insider information, and up-to-the-minute updates on all your favorite sports and teams. So why wait? 
     Join our community today and unlock a world of sports knowledge at your fingertips. Sign up for a free
      account now and start exploring!</p>

  <img src="https://media.istockphoto.com/id/1141191007/vector/sports-set-of-athletes-of-various-sports-disciplines-isolated-vector-silhouettes-run-soccer.jpg?s=612x612&w=0&k=20&c=SEabW4SHZ7blMHJPxZNSTl_anOMHO3whQI7HIMxFpSg=" alt="Image">
  <img1 src="https://media.istockphoto.com/id/1141191007/vector/sports-set-of-athletes-of-various-sports-disciplines-isolated-vector-silhouettes-run-soccer.jpg?s=612x612&w=0&k=20&c=SEabW4SHZ7blMHJPxZNSTl_anOMHO3whQI7HIMxFpSg=" alt="Image1">
  <img2 src="https://media.istockphoto.com/id/1141191007/vector/sports-set-of-athletes-of-various-sports-disciplines-isolated-vector-silhouettes-run-soccer.jpg?s=612x612&w=0&k=20&c=SEabW4SHZ7blMHJPxZNSTl_anOMHO3whQI7HIMxFpSg=" alt="Image2">
  <img3 src="https://media.istockphoto.com/id/1141191007/vector/sports-set-of-athletes-of-various-sports-disciplines-isolated-vector-silhouettes-run-soccer.jpg?s=612x612&w=0&k=20&c=SEabW4SHZ7blMHJPxZNSTl_anOMHO3whQI7HIMxFpSg=" alt="Image3">





</body>
</div>
</main>

