<body>
    
    
        <form class="form" id="form"
        action="/users/login"
        method="POST"
        enctype="application/x-www-form-urlencoded">
        <div class="loginForm">
                <form action="#" method = "post">
            <h7>Login</h17>
            <label>Username  </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
             <label>Password  </label>   
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <div class="check_box">
            <input type="checkbox" checked="checked"> <a>Remember me </a>
            </div>
            <button type="submit">Login</button>   
            <a href="https://teampassword.com/blog/how-to-find-a-lost-password-from-ages-ago">Forgot password? </a> 
        </div>   

    </form>
        <div class="pass">
         
        
    

</body>
</html>

