
<body>
    <form class="form" id="register_form" 
                action="/users/profile/:id(\\d+)"
                method="POST"   
                enctype="application/x-www-form-urlencoded">
    <h1>Profile</h1>
    <div class="loginForm">
                <form action="#" method = "post">
<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Image">
    <p>Username: {{This.username}}</p>
    <p>User Email:{{this.userId}}{{email}}</p>
    <p>List of posts the user has created:</p>


        </form>
                </div>      
</body>
